<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouzhongping.cn.mapper.GoodsMapper" >
    <resultMap id="BaseResultMap" type="com.zhouzhongping.cn.entity.Goods">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="promotionprice" jdbcType="VARCHAR" property="promotionprice" />
        <result column="tag" jdbcType="VARCHAR" property="tag" />
        <result column="banner" jdbcType="TIMESTAMP" property="banner" />
        <result column="isbanner" jdbcType="VARCHAR" property="isbanner" />
        <result column="bigpic" jdbcType="VARCHAR" property="bigpic" />
    </resultMap>
    <resultMap id="VoResultMap" extends="BaseResultMap" type="com.zhouzhongping.cn.vo.GoodVo">
        <collection property="goodDetail" column="id"  ofType="com.zhouzhongping.cn.entity.GoodDetail"  javaType = "java.util.ArrayList" select="getGoodDetail"></collection>
        <collection property="goodParam" column="id"  ofType="com.zhouzhongping.cn.entity.GoodParam"  javaType = "java.util.ArrayList" select="getGoodParam"></collection>
        <collection property="goodsMeasurement" column="id"  ofType="com.zhouzhongping.cn.entity.GoodMeasurement"  javaType = "java.util.ArrayList" select="getGoodMeasurement"></collection>
    </resultMap>

    <select id="selectGoodDetail"  parameterType="java.lang.String"  resultMap="VoResultMap">
SELECT id,pic,name,url,status,descption,price,promotionprice,tag,banner,isbanner,bigpic
FROM  goods WHERE id = #{id}
    </select>
    <resultMap id="GoodDetail"  type="com.zhouzhongping.cn.entity.GoodDetail">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="sort" jdbcType="TIMESTAMP" property="sort" />
        <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    </resultMap>
    <select id="getGoodDetail" resultMap="GoodDetail">
            SELECT id,url,sort,good_id
            FROM  good_detail
            WHERE good_id = #{id}
    </select>

    <resultMap id="GoodParam" type="com.zhouzhongping.cn.entity.GoodParam">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="sort" jdbcType="TIMESTAMP" property="sort" />
        <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    </resultMap>
    <select id="getGoodParam" resultMap="GoodParam">
            SELECT id,url,sort,good_id
            FROM  good_param
            WHERE good_id = #{id}
    </select>

    <resultMap id="GoodMeasurement" type="com.zhouzhongping.cn.entity.GoodMeasurement">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="sort" jdbcType="TIMESTAMP" property="sort" />
        <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    </resultMap>
    <select id="getGoodMeasurement" resultMap="GoodMeasurement">
            SELECT id,url,sort,good_id
            FROM  good_measurement
            WHERE good_id = #{id}
    </select>
</mapper>